.schedule {

	overflow-x: scroll;
	white-space: nowrap;
}

.day {
	vertical-align: top;
	text-align: center;
	display: inline-block;

}

.day-details {
	width: 100px; 
	height: 75px;
	line-height: 75px;
	border:1px solid black;
}

div.droptarget .day-details{
	background-color: #08C !IMPORTANT;
	color: #fff;
}

.widgets {

}

.drop-target {
	border:1px solid black;
}

.widget {
	margin: auto;
	padding: auto;
	width: 75px;
	height: 75px;
	line-height: 75px;
	border: 2px solid;
	border-radius: 50%;
}

.widget:hover {
	background-color: #08C;
	color: #fff;
}

.new-widget-btn {
	text-align: center;
}

.new-day-btn-container {
	padding-top: 30px;
	display: inline-block;
}

.new-day-btn {
	display: block;
}