#schedule {
	border:1px solid black;
	overflow-x: scroll;
	white-space: nowrap;
}

.day {
	vertical-align: text-top;
	border:1px solid black;
	display: inline-block;
}

.day-details {
	width: 100px; 
	height: 75px;
}


.widgets {

}

.widget {
	margin: 5px;

}