.schedule {
	border:1px solid black;
	overflow-x: scroll;
	white-space: nowrap;
}

.day {
	vertical-align: text-top;
	border:1px solid black;
	display: inline-block;
	padding: 0 !IMPORTANT;
	margin: 0 !IMPORTANT;
}

.day-details {
	width: 100px; 
	height: 75px;
	padding: 0 !IMPORTANT;
	margin: 0 !IMPORTANT;
}



.widgets {

}

.widget {
	margin: 5px;

}

.new-widget-btn {
	text-align: center;
}

.new-day-btn-container {
	display: inline-block;
}

.new-day-btn {
	padding-top: 20px;
	display: block;
}